@{
    ViewData["Title"] = "Lucky Boy Sirano";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<style>
    h1, h2{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
    }
    p{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

</style>
<br>
<br>
<p class="text-center">BIANCO, NERO MA SOPRATUTTO GRIGIO: <br>
            UNO STILE ILLUSTRATIVO CON SAPORE VINTAGE. <br>
            IN ORIGINE ISPIRATO AL TATUAGGIO CARCERARIO ORA AFFRONTA <br>
            TEMATICHE CONTEMPORANEE IMMERSE IN UNO SCENARIO NOIR. <br>
            LA NARRAZIONE GRAVITA SPESSO INTORNO AI TEMI DELL'AMORE <br>
            E DEI VIZI, IN TUTTE LE LORO SFUMATURE. <br><br>
            LE STORIE CHE VENGONO RACCONTATE PER POI TRASFERIRLE <br>
            SULLA PELLE RICORDANO MOLTO IL PROCESSO DELLO "SKIN CONTACT" <br>
            E DELLO "STORYTELLING" COME SE SI FONDESSERO. <br><br>
            -LO SKIN CONTACT È IL PROCESSO DI VINIFICAZIONE DEGLI <br>
            ORANGE WINES E QUELLO DEI VINI ROSSI IN CUI DOPO LA <br>
            PIGIATURA DELLE UVE, IL MOSTO RESTA A CONTATTO CON LE <br>
            PROPRIE BUCCE PER L'ESTRAZIONE DI PIGMENTI ED ANTOCIANI <br>
            DURANTE LA MACERAZIONE. <br>
            QUESTO PROLUNGATO CONTATTO DONA COLORI INUSUALI, <br>
            UN VENTAGLIO DI SFUMATURE E SAPORI PIENI. <br>
            -LO STORYTELLING È L'ARTE DI RACCONTARE UNA STORIA <br>
            TRAMITE LA NARRAZIONE E LA COMUNICAZIONE CREATIVA.<br><br>
            COME LE BUCCE A CONTATTO CON IL MOSTO TINGONO IL VINO. <br>
            IL VISSUTO A STRETTO CONTATTO CON LA PERSONA TINGE LA SUA <br>
            PELLE IN MANIERA CREATIVA. SE NE SENTE IL BISOGNO. <br>
            OGNI TATUAGGIO DEVE ESSERE VISTO COME UN PORTAFORTUNA E <br>
            UN BUON AUSPICIO PER IL FUTURO.
         </p