@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<style>
    h1, h2{
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
    }
</style>


<p>Grazie per aver visitato il sito di Lucky Boy Sirano. Questa Informativa sulla Privacy descrive come vengono raccolte, utilizzate e condivise le informazioni personali quando visiti o effettui un acquisto sul nostro sito web.</p>

    <h2>Informazioni Personali che Raccogliamo</h2>

    <p>Quando visiti il Sito, raccogliamo automaticamente determinate informazioni sul tuo dispositivo, inclusi dati sul tuo browser web, indirizzo IP, fuso orario e alcuni dei cookie installati sul tuo dispositivo. Inoltre, mentre navighi sul Sito, raccogliamo informazioni sulle singole pagine web o sui prodotti che visualizzi, su quali siti web o termini di ricerca ti hanno indirizzato al Sito e su come interagisci con il Sito. Ci riferiamo a queste informazioni raccolte automaticamente come "Informazioni sul Dispositivo".</p>

    <h2>Come Utilizziamo le Tue Informazioni Personali?</h2>

    <p>Utilizziamo le Informazioni sul Dispositivo che raccogliamo per aiutarci a individuare potenziali rischi e frodi (in particolare, il tuo indirizzo IP), e più in generale per migliorare e ottimizzare il nostro Sito (ad esempio, generando analisi su come i nostri clienti navigano e interagiscono con il Sito, e per valutare il successo delle nostre campagne di marketing e pubblicità).</p>

    <h2>Condivisione delle Tue Informazioni Personali</h2>
<p>Condividiamo le tue Informazioni Personali con terze parti per aiutarci a utilizzare le tue Informazioni Personali, come descritto sopra. Ad esempio, utilizziamo Shopify per alimentare il nostro negozio online - puoi leggere di più su come Shopify utilizza le tue Informazioni Personali qui: https://www.shopify.com/legal/privacy. Utilizziamo anche Google Analytics per aiutarci a capire come i nostri clienti utilizzano il Sito - puoi leggere di più su come Google utilizza le tue Informazioni Personali qui: https://www.google.com/intl/it/policies/privacy/. Puoi anche disattivare Google Analytics qui: https://tools.google.com/dlpage/gaoptout.</p>

    <h2>Modifiche</h2>

    <p>Possiamo aggiornare periodicamente questa politica sulla privacy per riflettere, ad esempio, modifiche alle nostre pratiche o per altri motivi operativi, legali o regolamentari.</p>

    <h2>Contattaci</h2>

    <p>Per ulteriori informazioni sulle nostre pratiche sulla privacy, se hai domande o se desideri presentare un reclamo, contattaci via e-mail all'indirizzo luckyboysirano@gmail.com</p>
